@use "./../../../../src/styles/variables.scss" as *;

.text-wrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: $light-color;
  margin: 24px 0 12px;
}

.flex-wrapper {
  display: flex;
  gap: 48px;

  @media screen and (max-width: $laptop) {
    gap: 24px;
  }
}

.flex-wrapper>* {
  flex: 1;
}

.right-col-wrapper {
  padding-left: 22%;

  @media screen and (max-width: $laptop) {
    padding: 0;
  }
}

.email-copyright-wrapper {
  display: flex;
  justify-content: space-between;
}