@use "./variables.scss" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 1000;
}

.header .container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 36px 20px;

    @media screen and (max-width: $laptop) {
        padding: 36px 30px;
    }

    @media screen and (max-width: $tablet) {
        padding: 36px 20px;
    }
}

.header-buttons {
    position: relative;
    display: flex;
    gap: 12px;
}

.header .get-in-touch {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

.header-dropdown-menu-wrapper {
    position: absolute;
    right: 0%;
    padding: 24px;
    border-radius: 25px;
    color: $white;
    background-color: $dark-green;
    opacity: 0.75;
    display: none;
}

.header-dropdown-menu-wrapper.menu-visible {
    display: block;
}

#close-dropdown-menu:hover {
    color: $light-green;
}

#close-dropdown-menu::after {
    content: '';
    display: block;
    width: 317px;
    height: 1px;
    background-color: $white;
}

.dropdown-menu-nav {
    color: rgba($white, 0.25);
}

.dropdown-menu-nav li:hover {
    color: white;
}