@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-font: "Oswald", sans-serif;
$secondary-font: "Fira Sans", sans-serif;

$text-color: #173D33;
$dark-green: #173D33;
$light-green: #97D28B;
$menu-green: #DCEFD8;
$white: #FFFFFF;
$grey: #EAEDF1;

$full: 1920px;
$laptop: 1440px;
$tablet: 768px;
$mobile: 360px;