@use "../variables.scss" as *;

.bi-link {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 12px;
    padding: 4px 4px 4px 16px;
    border: 1px solid $light-color;
    border-radius: 500px;
}

.bi-link:hover {
    color: $light-color;
    background-color: $dark-color;
    border: 1px solid $dark-color;
}

.button-big-icon svg {
    rect {
        fill: $light-color;
    }

    path {
        stroke: $dark-color;
    }
}